# --- GENERAL ---
.DS_Store
.vscode/
.idea/

# --- PYTHON / BACKEND ---
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/*.py[cod]
backend/app/*.py[cod]
backend/.env
backend/*.db
backend/*.sqlite3

# --- FLUTTER / MOBILE ---
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/android/local.properties
mobile/android/.gradle/
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Pods/

# --- IOT ---
iot_device/__pycache__/
iot_device/*.py[cod]
iot_device/venv/